<ion-view view-title="{{sct.course.name}}">
    <ion-content class="padding">
        <ion-card class="padding"
                  ng-repeat="task in sct.tasks">
            <ion-item class="item-divider item-text-wrap">
                <div class="row">
                    <div class="col col-10">{{$index + 1 + '.'}}</div>
                    <div class="col"> {{task.name}}</div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                {{task.description}}
            </ion-item>
            <ion-item>
                <label>Το task λήγει στις:</label>
                <span>{{task.date | date: 'dd/MM/yyyy'}}</span>
            </ion-item>
        </ion-card>

        <span ng-show="!sct.tasks.length">Δεν υπάρχουν διαθέσιμα tasks για αυτό το μάθημα</span>

        <a ui-sref="student.courses"
           class="button button-calm button-block">
        Πίσω στα Μαθήματα
    </a>
    </ion-content>
</ion-view>