<ion-view view-title="Πράκτορες">
  <ion-nav-buttons side="right">
    <button class="disabled-button button button-icon">
      <i class="icon ion-star"></i> 350
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="disabled-button button button-icon">
      <i class="icon ion-android-happy"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="buddy in pu.availableBuddies track by $index" class="item-thumbnail-left item-button-right">
        <img ng-src="{{buddy.img_src}}">
        <h2>{{buddy.name}}</h2>
        {{buddy.value}} <span class="icon ion-star"></span>
        <button class="button button-icon"><span class="icon ion-bag"></span></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
<img src="http://www.allsmileys.com/files/smiley-central-emotions/5186.gif" style="border:0px;vertical-align:middle">