<ion-view view-title="{{ct.courseName}}">
    <ion-content class="padding">
        <ion-card ui-sref="teacher.eval.course-tasks.submitters ({taskId:task.id})"
                  class="padding"
                  ng-repeat="task in ct.tasks track by $index">
            <ion-item class="item-text-wrap item-divider">
                <div class="row">
                    <div class="col col-20">{{'# ' + ($index + 1)}}</div>
                    <div class="col col-60">{{task.name}}</div>
                    <div class="col col-20">
                        <span class="badge badge-calm">{{task.submitted}}</span>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                {{task.description}}
            </ion-item>
            <ion-item>
                <label>Ημ. Λήξης:</label>
                <strong>{{task.date |date: 'dd/MM/yyyy'}}</strong>
            </ion-item>
        </ion-card>

        <span ng-show="!ct.tasks.length">Δεν υπάρχουν διαθέσιμα tasks για αυτό το μάθημα</span>

        <a ui-sref="teacher.eval"
           class="button button-calm button-block">
        Πίσω στα μαθήματα
    </a>
    </ion-content>
</ion-view>