<ion-view view-title="Νέο Task">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input item-select">
          <div class="input-label">Μάθημα:</div>
          <select><option value="">Επιλέξτε Μάθημα</option></select>
        </label>
      <label class="item item-input">
              <input type="text" placeholder="Όνομα">
          </label>
      <label class="item item-input">
              <textarea rows="10" placeholder="Περιγραφή"></textarea>
          </label>
      <label class="item item-input">
            <input type="date" placeholder="Εισάγετε ημερομ. παράδοσης">
          </label>
      <label class="item item-input item-select">
          <div class="input-label">Βαθμός Δυσκολίας:</div>
            <select>
              <option value="">Επιλέξτε βαθμό δυσκολίας</option>
            </select>
          </label>
    </div>
    <button class="button button-calm button-block">Καταχώρηση</button>
  </ion-content>
</ion-view>
