<ion-view view-title="Νέο Καθήκον">
    <ion-content class="padding">
        <form name="newTaskForm"
              ng-submit="nt.createTask()">
            <div class="list list-inset">
                <label class="item item-input item-select">
          <div class="input-label">Μάθημα:</div>
          <select ng-model="nt.task.course" ng-options="course.id as course.name for course in nt.courses"><option value="">Επιλέξτε Μάθημα</option></select>
        </label>
                <label class="item item-input">
              <input ng-model="nt.task.name" type="text" placeholder="Όνομα">
          </label>
                <label class="item item-input">
              <textarea ng-model="nt.task.description" rows="10" placeholder="Περιγραφή"></textarea>
          </label>
                <label class="item item-input">
            <input class="dateclass placeholderclass" ng-click="$(this).removeClass('placeholderclass')" ng-model="nt.task.dueDate" type="date" placeholder="Εισάγετε ημερομ. παράδοσης">
          </label>
                <label class="item item-input item-select">
          <div class="input-label">Βαθμός Δυσκολίας:</div>
            <select ng-model="nt.task.difficulty" ng-options="difficulty.id as difficulty.name for difficulty in nt.difficulties">
              <option value="">Επιλέξτε βαθμό δυσκολίας</option>
            </select>
          </label>
            </div>
            <button type="submit"
                    class="button button-calm button-block">Καταχώρηση</button>
        </form>
    </ion-content>
</ion-view>